body{
    width: 1200px;
    margin: 10px auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.dflex {
    display: flex;
}
.inlineFlex {
    display: inline-flex;
    flex-wrap: wrap;
}

header{
    background-color: #fff;
    width: 100%;
    top: 0px;
    left: 0px;
    padding: 10px 10px;
}

.cabecalho1{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mBusca input {
    font-size: 14px;
    background-color: rgb(236, 236, 236);
    border-radius: 3px;
    position: relative;
    border: none;
    width: 250px;
    height: 35px;
    padding-left: 35px;
}
.mBusca > i {
    color: red;
    position: absolute;
    
    margin-left: -280px;
    
    top: 40px;
    
    
}
.endereco {
    display: flex;
    align-items: center;
}
.endereco .down {
    font-size: 12px;
    color: red;
    
}
.endereco i {
    font-size: 30px;
    margin: 15px;
    color: red;
}
.saldo {
    display: flex;
    align-items: center;
    
}
.saldo i{
    font-size: 20px;
    margin: 20px;
    color: red;
}



.cabecalho1 .figure_cabecalho1 img{
    width: 50px;
    height: 25px;
}

.cabecalho1 ul {
    display: flex;
    justify-content: space-evenly;
    gap: 10px
}

.mBusca {
    background-image: url(./assests/images/icones/Mercado.jpg);
    background-size: cover;
    
}
.endereco {
    display: flex;
    justify-content: space-evenly;
    gap: 10px
}
.cupons {
    background-color: rgb(70, 150, 70);
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    margin: 10px;
    width: 100%;
}

.item_lista_cabecalho1 a{
    text-decoration: none;
    color: rgb(131, 131, 131);
    font-weight: 600;
}
.item_lista_cabecalho1 .inicial {
    color: red;
}

.cabecalho2 {
    width: 100%;
}
.cabecalho2 .lista_cabecalho2 {    
    text-align: center;
    gap: 10px;
    margin-left: 10px;
    display: flex;
}

.item_lista_cabecalho2 button {
    padding: 10px 15px;
    color: rgb(100, 100, 100);
    background-color: rgba(240, 248, 255, 0);
    border-radius: 20px;
    border: rgb(156, 156, 156) solid 1px;
    transition: 200ms;
}
.item_lista_cabecalho2 button:hover {
    background-color:rgb(156, 156, 156);
    cursor: pointer;
    color: white;
}
.iconesImg ul{
    display: flex;
}
.iconesImg ul li figure p{
    text-align: center;
    margin-top: -10px;
}
.iconesImg ul li figure img{
    width: 90px;
    height: 75px;
    margin: 10px;
    
}
.banners {
    width: 100%;
    margin: auto;
}
.banners ul {
    width: 100%;
    display: flex;
    margin: 20px auto;
}
.banners ul li figure {
    width: 100%;
    gap: 10px;
    justify-content: space-between;
    margin: 5px;
   
}
.banners ul li figure img {
    width: 390px;
    border-radius: 8px;
    gap: 50px;
    margin: auto;
    
    
}
.ConteudoLojas {
    display: flex;
    justify-content: space-between;
}
.ConteudoLojas a {
    text-decoration: none;
    color: red;
}
.lojaIfood a {
    text-decoration: none;
    color: rgb(48, 48, 48);
    
}
.titleUltimasLojas {
    margin-top: 20px;
}
.titleUltimasLojas h2 {
    font-size: 25px;
    font-weight: 700;
}
.uLojas {
    width: 100px;
    height: auto;
    margin: 20px;
}
.uLojas p{
    text-align: center;
}
.uLojas picture img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    
    
}
.category .uLojas picture img{
    width: 120px;
    height: 100px;
    border-radius: 5%;
    overflow: hidden;
    
    
}
/****** lojas e estrelas ****/
.galeriaLojas {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: space-between;
    text-decoration: none;
}
.galeriaLojas a{
    text-decoration: none;
    color: black;
    margin-top: 20px;
}
.galeriaLojas a:hover{
    filter: brightness(100%);
}
.lojaInfo {
    margin: 20px 0;
}
.infoLoja {
    width: 250px;
}
.infoLoja h2{
   font-size: 18px;
   color: rgb(29, 29, 29);
   margin-bottom: 5px;
}
.ramo {
    line-height: 30px;
}
.ramo nav {
    margin-left: 10px;
    
}
.ramo nav li {
    margin-right: 10px;    
}
.ramo .cassificacao {
    gap: 10px;
    color: rgb(231, 209, 9);
}
.imagemLoja {
    width: 120px;
}
.imagemLoja img {
    width: 100px;
    height: 100px;
    position: relative;

}
.cidadesI div nav li a {
    color: rgb(51, 51, 51);
}
.minPreco {
    gap: 10px;
}
.comEstrela::after {
    content: "\2605";
    position: absolute;
    margin-left: -110px;
    color: rgb(255, 255, 255);
    background-color: red;
    border-radius: 50%;
    padding: 3px;
    font-size: 12px;

}


/****** Ticket ******/
.tick {
    background-color: rgba(141, 216, 245, 0.39);
    padding: 8px;
    margin: 8px auto;
    gap: 10px;
    color: rgb(2, 98, 136);
}
.tick i {
    transform: rotate(-45deg);
}
.precoL::before {
    content: "\25CF";
    font-size: 7px;
    margin-right: 10px;
    
}
/********Explore por cidades ******/

.cidadesIfood {
    width: 100%;
    justify-content: space-between;
    
}
.cidadesI {
    display: flex;
}
.cidadesI div h3 {
    font-weight: 700;
    color: black;
}
.cidadesI div a {
    text-decoration: none;
}
.cidadesI div{
    width: 282px;    
    list-style: none;
    margin-top: 10px;
    line-height: 40px;
}
.linhaCol {
    height: 10px;
    border-bottom: solid rgb(107, 107, 107) 1px;
}
.socialiFood {
    font-size: 35px;
    color:rgb(107, 107, 107);
    
    
}
.socialiFood > i {
    gap: 20px;
    cursor: pointer;
}